@charset "utf-8";

* {
	margin:0;
    padding:0;
    color: #2c2c2c;
}

html{
    line-height: 1.15;
}

body {
    position: relative;
    color: #2c2c2c;
    letter-spacing: .05em;
    background: linear-gradient(to right, #d6efff, #b5dbff);
    font-family: 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
    font-weight: 400;
}
html {
	overflow-y:scroll;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: 400;
}
p,li,dt,dl {
	line-height:1.6;
}
p {
    margin:0 0 1em 0;
    line-height: 2;
}
li {
	list-style-type:none;
}
*, *::before, *::after {
    box-sizing: border-box;
}
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

// min-width
$breakpoint-up: (
  'sm': 'screen and (min-width: 400px)',
  'md': 'screen and (min-width: 768px)',
  'lg': 'screen and (min-width: 1000px)',
  'xl': 'screen and (min-width: 1200px)',
) !default;

// max-width
$breakpoint-down: (
  'sm': 'screen and (max-width: 399px)',
  'md': 'screen and (max-width: 767px)',
  'lg': 'screen and (max-width: 999px)',
  'xl': 'screen and (max-width: 1199px)',
) !default;
@mixin mq-up($breakpoint: md) {
    @media #{map-get($breakpoint-up, $breakpoint)} {
        @content;
    }
}

@mixin mq-down($breakpoint: md) {
    @media #{map-get($breakpoint-down, $breakpoint)} {
        @content;
    }
}

$main-color: rgb(57, 150, 214);
$main-color-hover: rgb(48, 147, 212);
$main-color-active: rgb(53, 135, 190);
$sub-color: rgb(27, 79, 208);

header{
    width: 100vw;
    height: 60px;
    padding: 12px 0;
    text-align: center;
    background-color: white;
    display: flex;
    justify-content: center;
    filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.3));
    .header-icon{
        margin: 0 12px;
        i{
            font-size: 36px;
            color: $main-color;
        }
    }
    .header-title{

        h1{
            color: $main-color;
        }
    }
}

#main-body{
    width: 92vw;
    max-width: 1000px;
    min-height: 100vh;
    margin: 40px 4vw;
    padding: 60px 40px;
    background-color: rgb(241, 251, 255);
    filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.3));
    @include mq-up(){
        margin: 40px auto;
    }
}

button{
    font-size: 28px;
    padding: 4px 12px;
    color: white;
    background-color: skyblue;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 12px;
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.4));
    transition: .2s ease-in-out;
    &:hover{
        background-color: $main-color-hover; 
    }
    &:active{
        background-color: $main-color-active; 
        filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.4));
    }
}

.start-button{
    button{
        font-size: 28px;
        padding: 4px 12px;
        color: white;
        background-color: skyblue;
        border: 1px solid rgba(255, 255, 255, 0);
        border-radius: 12px;
        filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.4));
        transition: .2s ease-in-out;
        &:hover{
            background-color: $main-color-hover; 
        }
        &:active{
            background-color: $main-color-active; 
            filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.4));
        }
    }
}

.game-area{
    h2{

    }
}

.question-area{

    .question-text{

    }
}

.user-answer-area{
    width: 400px;
    height: 400px;
    background-color: rgb(182, 182, 182);
    h2{

    }
}

.user-input-area{

    .css-start-label, .css-end-label{

    }
    .css-start-label{
        
    }
    .css-end-label{

    }
    textarea{

    }
}