/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

@charset "UTF-8";
/*
    share stayle
*/
* {
  margin: 0;
  padding: 0;
  color: #2c2c2c; }

html {
  line-height: 1.15; }

body {
  position: relative;
  color: #2c2c2c;
  letter-spacing: .05em;
  background: -webkit-gradient(linear, left top, right top, from(#c1e3ff), to(#a3f8ea));
  background: -o-linear-gradient(left, #c1e3ff, #a3f8ea);
  background: linear-gradient(to right, #c1e3ff, #a3f8ea);
  font-family: "游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,sans-serif;
  font-weight: 400; }

html {
  overflow-y: scroll; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

p, li, dt, dl {
  line-height: 1.6; }

p {
  margin: 0 0 1em 0;
  line-height: 2; }

li {
  list-style-type: none; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a:link, a:visited, a:hover, a:active {
  text-decoration: none; }

header {
  width: 100vw;
  height: 60px;
  padding: 12px 0;
  text-align: center;
  background-color: white;
  -webkit-filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.3));
  position: relative; }
  header .center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  header .header-icon {
    margin: 0 12px; }
    header .header-icon i {
      font-size: 36px;
      color: #3996d6; }
  header .header-title h1 {
    color: #3996d6;
    font-family: 'Orbitron', sans-serif; }
  @media screen and (max-width: 767px) {
    header {
      height: 46px; }
      header .header-title h1 {
        font-size: 20px; }
      header .header-icon i {
        font-size: 20px; } }
  header .header-nav {
    position: absolute;
    top: 14px;
    right: 20px; }
    header .header-nav ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      header .header-nav ul li {
        font-size: 18px;
        padding: 4px 12px;
        -webkit-transition: -webkit-transform 0.2s;
        transition: -webkit-transform 0.2s;
        -o-transition: transform 0.2s;
        transition: transform 0.2s;
        transition: transform 0.2s, -webkit-transform 0.2s; }
        header .header-nav ul li .fa-user-alt {
          color: #3996d6; }
        header .header-nav ul li .fa-sign-out-alt {
          color: #a7a7a7; }
        header .header-nav ul li:hover {
          -webkit-transform: scale(1.4);
              -ms-transform: scale(1.4);
                  transform: scale(1.4); }
    @media screen and (max-width: 767px) {
      header .header-nav {
        right: 10px;
        top: 10px; }
        header .header-nav ul li {
          font-size: 14px;
          padding: 4px 8px; } }

#main-body {
  width: 92vw;
  max-width: 1000px;
  min-height: 100vh;
  margin: 40px 4vw;
  padding: 20px 40px;
  background-color: #f1fbff;
  -webkit-filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.3));
  -webkit-transition: -webkit-filter 0.2s ease-in-out;
  transition: -webkit-filter 0.2s ease-in-out;
  -o-transition: filter 0.2s ease-in-out;
  transition: filter 0.2s ease-in-out;
  transition: filter 0.2s ease-in-out, -webkit-filter 0.2s ease-in-out; }
  @media screen and (min-width: 768px) {
    #main-body {
      margin: 40px auto; } }
  @media screen and (max-width: 767px) {
    #main-body {
      padding: 20px 10px;
      margin: 20px 2vw;
      width: 96vw; } }

button {
  font-size: 28px;
  padding: 4px 12px;
  color: white;
  background-color: skyblue;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 12px;
  -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
  -webkit-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out; }
  button:hover {
    background-color: #3093d4; }
  button:active {
    background-color: #3587be;
    -webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.4));
            filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.4)); }

/*
    game.html
*/
.game-header {
  margin: 40px 40px 20px;
  border-bottom: 3px solid #3996d6;
  padding-bottom: 12px; }
  @media screen and (max-width: 767px) {
    .game-header {
      margin: 20px 20px 0; } }
  .game-header .game-title {
    text-align: center; }
    .game-header .game-title h1 {
      font-size: 28px;
      color: #646464; }
      @media screen and (max-width: 767px) {
        .game-header .game-title h1 {
          font-size: 20px; } }

.start-before-area {
  text-align: center; }
  .start-before-area .start-button {
    margin-top: 10vh; }
    .start-before-area .start-button button {
      font-size: 42px;
      padding: 12px 28px; }
  .start-before-area .warn-message {
    margin-top: 20px; }
    .start-before-area .warn-message p {
      font-size: 16px;
      color: #e6492e; }

.game-area {
  display: none;
  margin-top: 40px; }
  .game-area h2, .game-area p {
    color: #797979; }

.question-area {
  display: inline-block;
  width: 100%; }
  .question-area .game-count {
    text-align: right;
    font-size: 18px; }
    .question-area .game-count span {
      color: #1b4fd0;
      font-weight: 600; }
  .question-area h2 {
    padding-bottom: 12px;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.2); }

.user-answer-area h2, .user-input-area h2 {
  margin-bottom: 12px; }

.user-answer-area {
  margin: 40px 0;
  float: left; }
  .user-answer-area .output-css-area {
    position: relative;
    width: 30vw;
    height: 30vw;
    max-height: 300px;
    max-width: 300px;
    background: -o-linear-gradient(315deg, #e2e2e2, #999999);
    background: linear-gradient(135deg, #e2e2e2, #999999);
    -webkit-filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.3));
            filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.3));
    margin-top: 42px;
    position: relative;
    border-radius: 0 0 4px 4px; }
    .user-answer-area .output-css-area .web-area {
      position: absolute;
      top: -28px;
      left: 0;
      width: 100%;
      height: 28px;
      border-radius: 4px 4px 0 0;
      background-color: black; }
      .user-answer-area .output-css-area .web-area .circle span {
        position: absolute;
        top: 3px;
        left: 4px;
        width: 6px;
        height: 6px;
        border-radius: 8px;
        background-color: #505050; }
      .user-answer-area .output-css-area .web-area .circle .two {
        left: 12px; }
      .user-answer-area .output-css-area .web-area .circle .three {
        left: 20px; }
      .user-answer-area .output-css-area .web-area .tab {
        position: absolute;
        top: 2px;
        left: 40px;
        width: 60px;
        height: 12px;
        border-radius: 3px 3px 0 0;
        background-color: #505050; }
        .user-answer-area .output-css-area .web-area .tab .file-name {
          top: 2px;
          left: 8px;
          font-size: 8px;
          -webkit-transform: scale(0.6);
              -ms-transform: scale(0.6);
                  transform: scale(0.6);
          color: white;
          font-weight: 400; }
        .user-answer-area .output-css-area .web-area .tab .plus {
          position: absolute;
          color: white;
          top: -4px;
          left: 62px;
          -webkit-transform: scale(0.5);
              -ms-transform: scale(0.5);
                  transform: scale(0.5); }
      .user-answer-area .output-css-area .web-area .bottom-area {
        position: absolute;
        top: 12px;
        left: 0;
        width: 100%;
        height: 16px;
        border-radius: 0;
        background-color: #505050; }
        .user-answer-area .output-css-area .web-area .bottom-area i {
          color: white;
          font-size: 8px;
          -webkit-transform: scale(0.6) translate(4px, -8px);
              -ms-transform: scale(0.6) translate(4px, -8px);
                  transform: scale(0.6) translate(4px, -8px); }
      .user-answer-area .output-css-area .web-area .url {
        position: absolute;
        top: 2px;
        left: 70px;
        right: 10px;
        height: 10px;
        border-radius: 10px;
        background-color: black; }
        .user-answer-area .output-css-area .web-area .url span {
          position: absolute;
          color: white;
          font-size: 8px;
          -webkit-transform: scale(0.6) translate(-60px, 0px);
              -ms-transform: scale(0.6) translate(-60px, 0px);
                  transform: scale(0.6) translate(-60px, 0px); }
        .user-answer-area .output-css-area .web-area .url .fa-star {
          position: absolute;
          right: 2px;
          top: 0;
          -webkit-transform: scale(0.6);
              -ms-transform: scale(0.6);
                  transform: scale(0.6); }
  @media screen and (max-width: 767px) {
    .user-answer-area {
      float: none;
      margin: 20px 0; }
      .user-answer-area .output-css-area {
        width: calc(100vw - 4vw - 20px);
        height: calc(100vw - 4vw - 20px); } }

.user-input-area {
  margin: 40px 0 40px 40px; }
  .user-input-area .code-area {
    position: relative;
    padding: 48px 12px;
    border-radius: 8px 8px 2px 2px;
    background: dimgray;
    max-height: 328px;
    min-height: 200px;
    height: auto;
    width: 50vw;
    max-width: 570px; }
    @media screen and (max-width: 767px) {
      .user-input-area .code-area {
        padding: 32px 8px;
        max-height: 600px;
        width: 90vw;
        max-width: 700px; } }
    .user-input-area .code-area .code-area-header {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 28px;
      border-radius: 8px 8px 0 0;
      background-color: #353535; }
    .user-input-area .code-area .css-tab, .user-input-area .code-area .html-tab {
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      width: 140px;
      height: 28px;
      border-radius: 8px 8px 0 0;
      -webkit-transition: 0.2s ease-in-out;
      -o-transition: 0.2s ease-in-out;
      transition: 0.2s ease-in-out; }
    .user-input-area .code-area .css-tab {
      background-color: #5a5a5a; }
    .user-input-area .code-area .html-tab {
      background-color: #464646; }
      .user-input-area .code-area .html-tab span {
        opacity: 0.5; }
    .user-input-area .code-area .file-name, .user-input-area .code-area .sharp {
      z-index: 2;
      position: absolute;
      top: 8px;
      left: 30px;
      font-size: 12px;
      color: white; }
    .user-input-area .code-area .sharp {
      color: #3996d6;
      font-weight: 900;
      left: 16px;
      font-size: 14px; }
    .user-input-area .code-area .code-area-header.html-code .html-tab {
      position: relative;
      left: 145px; }
    .user-input-area .code-area .code-area-header.html-code .tag {
      position: absolute;
      left: 6px;
      top: 6px;
      font-size: 14px;
      font-weight: bold;
      color: orange;
      -webkit-transform: scaleX(0.6);
          -ms-transform: scaleX(0.6);
              transform: scaleX(0.6); }
    .user-input-area .code-area i {
      position: absolute;
      top: 6px;
      right: 12px;
      font-size: 18px;
      font-weight: 900; }
    .user-input-area .code-area * {
      color: white;
      font-weight: 300;
      letter-spacing: 1.5px; }
    .user-input-area .code-area .comment {
      color: #a1a1a1; }
    .user-input-area .code-area .id-name {
      color: #adb8dd; }
  .user-input-area .css, .user-input-area .html {
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }
  .user-input-area .html {
    position: absolute;
    display: none; }
    .user-input-area .html .red {
      color: #fc766d; }
    .user-input-area .html .yellow {
      color: #f0b850; }
  .user-input-area .input-css {
    padding: 0 0 0 20px; }
    @media screen and (max-width: 767px) {
      .user-input-area .input-css {
        padding: 0 0 0 10px; } }
    .user-input-area .input-css input {
      width: 45%;
      font-size: 12.5px;
      padding: 2px 4px;
      margin: 4px 4px;
      border: 2px solid #ddd;
      border-radius: 3px;
      color: #4d4d4d;
      font-weight: 300; }
      .user-input-area .input-css input:focus {
        border: 2px solid #1b4fd0;
        z-index: 10;
        outline: 0; }
      @media screen and (max-width: 767px) {
        .user-input-area .input-css input {
          font-size: 10.5px; } }

.run-button {
  text-align: right;
  margin-top: 20px; }
  .run-button button {
    font-size: 24px;
    padding: 4px 48px; }

.error-message {
  margin: 40px 0 40px 40px; }
  .error-message h3, .error-message p {
    color: #e6492e; }
  .error-message h3 {
    display: inline;
    padding-bottom: 4px;
    font-size: 24px;
    border-bottom: 3px double red; }
  .error-message p {
    margin-top: 8px;
    font-size: 16px; }

.user-input-area {
  display: inline-block;
  width: calc(100% - 30vw - 40px); }
  @media screen and (max-width: 767px) {
    .user-input-area {
      margin: 20px 0 0;
      width: 100%; } }

.modal, .modal-result {
  display: none;
  position: fixed;
  top: 38vh;
  left: 0;
  width: 100vw;
  padding: 40px;
  -webkit-box-shadow: #2c2c2c;
          box-shadow: #2c2c2c; }
  @media screen and (max-width: 767px) {
    .modal, .modal-result {
      top: 32vh; } }

.clear-message, .next-button {
  text-align: center;
  margin: 0 0 20px; }

.clear-message, .result-message {
  clear: both;
  position: relative;
  padding: 12px 20px;
  border-bottom: solid 2px #3996d6;
  border-top: solid 2px #3996d6; }
  .clear-message h3, .result-message h3 {
    display: inline;
    color: #3996d6;
    font-weight: 600;
    font-size: 32px; }
    @media screen and (max-width: 767px) {
      .clear-message h3, .result-message h3 {
        font-size: 24px; } }

.next-button button, .finish-button button {
  padding: 16px 48px;
  border: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#00ffbf), to(#3996d6));
  background: -o-linear-gradient(top, #00ffbf, #3996d6);
  background: linear-gradient(to bottom, #00ffbf, #3996d6); }

.modal-result {
  display: none;
  text-align: center;
  top: 60px; }
  @media screen and (max-width: 767px) {
    .modal-result {
      top: 10px; } }
  .modal-result .result-time {
    margin: 12px 0;
    padding: 12px; }
    .modal-result .result-time span {
      color: black;
      padding: 12px;
      font-size: 22px;
      border-top: solid 1px #3996d6;
      border-bottom: solid 1px #3996d6; }
      @media screen and (max-width: 767px) {
        .modal-result .result-time span {
          font-size: 16px; } }
  .modal-result .result-rank {
    padding: 24px 0 32px; }
    .modal-result .result-rank span {
      font-size: 28px; }
    .modal-result .result-rank .rank {
      color: red; }
  .modal-result .level-bar .level {
    line-height: 1;
    margin-top: 10px;
    font-size: 22px; }
  .modal-result .level-bar .bar-area {
    margin: 8px 20px;
    position: relative;
    height: 30px; }
  .modal-result .level-bar .bar {
    position: absolute;
    width: 100%;
    height: 20px;
    border-radius: 12px;
    background: #e7e7e7; }
  .modal-result .level-bar .exp-bar {
    min-width: 20px;
    -webkit-transition: width 1.5s ease-in-out;
    -o-transition: width 1.5s ease-in-out;
    transition: width 1.5s ease-in-out;
    width: 0;
    background: -webkit-gradient(linear, left top, right top, from(#77df33), to(#2fe0ba));
    background: -o-linear-gradient(left, #77df33, #2fe0ba);
    background: linear-gradient(to right, #77df33, #2fe0ba); }
  .modal-result .level-bar .level-up-message {
    opacity: 0;
    -webkit-transform: translateY(-120px);
        -ms-transform: translateY(-120px);
            transform: translateY(-120px);
    font-size: 52px;
    -webkit-transition: 0.6s ease-in-out;
    -o-transition: 0.6s ease-in-out;
    transition: 0.6s ease-in-out; }
    .modal-result .level-bar .level-up-message span {
      color: #e9e93b;
      -webkit-filter: drop-shadow(3px 2px 2px #2c2c2c);
              filter: drop-shadow(3px 2px 2px #2c2c2c); }
  .modal-result .finish-button button {
    padding: 8px 24px; }

/*
    front.html
*/
.game-list {
  margin: 40px; }
  .game-list * {
    color: #858585; }
  .game-list .game-card.easy-mode {
    background: -webkit-gradient(linear, left top, right top, from(#f7f7db), to(#d7f5eb));
    background: -o-linear-gradient(left, #f7f7db, #d7f5eb);
    background: linear-gradient(to right, #f7f7db, #d7f5eb); }
  .game-list .game-card.normal-mode {
    background: -webkit-gradient(linear, left top, right top, from(#d9f2f7), to(#d4dbf3));
    background: -o-linear-gradient(left, #d9f2f7, #d4dbf3);
    background: linear-gradient(to right, #d9f2f7, #d4dbf3); }
  .game-list .game-card.hard-mode {
    background: -webkit-gradient(linear, left top, right top, from(#e8d8f5), to(#eecfd1));
    background: -o-linear-gradient(left, #e8d8f5, #eecfd1);
    background: linear-gradient(to right, #e8d8f5, #eecfd1); }
  .game-list .game-card {
    margin-bottom: 24px;
    padding: 28px;
    border-radius: 8px;
    background: -webkit-gradient(linear, left top, left bottom, from(#e1f5e9), to(#dfe7f5));
    background: -o-linear-gradient(top, #e1f5e9, #dfe7f5);
    background: linear-gradient(to bottom, #e1f5e9, #dfe7f5);
    -webkit-filter: drop-shadow(6px 6px 4px rgba(99, 99, 99, 0.404)) hue-rotate(0deg);
            filter: drop-shadow(6px 6px 4px rgba(99, 99, 99, 0.404)) hue-rotate(0deg);
    -webkit-transition: -webkit-filter 0.3s;
    transition: -webkit-filter 0.3s;
    -o-transition: filter 0.3s;
    transition: filter 0.3s;
    transition: filter 0.3s, -webkit-filter 0.3s; }
    .game-list .game-card:hover {
      -webkit-filter: drop-shadow(3px 2px 2px rgba(99, 99, 99, 0.555)) hue-rotate(30deg);
              filter: drop-shadow(3px 2px 2px rgba(99, 99, 99, 0.555)) hue-rotate(30deg); }
  .game-list .game-card-title {
    padding-bottom: 8px;
    margin-bottom: 12px;
    border-bottom: double 4px rgba(68, 68, 68, 0.5); }
    .game-list .game-card-title h2 {
      font-size: 22px;
      color: #2d94a1; }
  .game-list .game-desc h3 {
    font-size: 16px; }
  .game-list .game-desc p {
    font-size: 13px; }
  .game-list .game-info {
    font-size: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
    .game-list .game-info div {
      display: inline;
      margin: 0 16px 0 0;
      padding: 4px 12px;
      border-bottom: 1px solid #b3b3b3;
      color: gray; }
      .game-list .game-info div span {
        color: gray; }

/*
    register.html login.html
*/
#register header, #login header {
  margin-top: 10vh;
  background-color: rgba(0, 0, 0, 0);
  -webkit-filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0));
          filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0)); }
  #register header i, #register header h1, #login header i, #login header h1 {
    font-size: 36px; }
    @media screen and (max-width: 767px) {
      #register header i, #register header h1, #login header i, #login header h1 {
        font-size: 28px; } }
  #register header i, #login header i {
    margin-top: 4px; }
#register #main-body, #login #main-body {
  max-width: 600px;
  margin: 40px auto 20px;
  min-height: 100px;
  padding: 50px 20px;
  background-color: white; }
  @media screen and (max-width: 767px) {
    #register #main-body, #login #main-body {
      padding: 40px 12px;
      width: 90vw;
      max-width: 450px; } }
#register .input-area-header, #login .input-area-header {
  margin: 0 20px 12px;
  padding-bottom: 12px;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.185); }
  #register .input-area-header h2, #login .input-area-header h2 {
    font-size: 26px;
    color: #858585; }
    @media screen and (max-width: 767px) {
      #register .input-area-header h2, #login .input-area-header h2 {
        font-size: 22px; } }
#register .input-area, #login .input-area {
  margin: 20px 0; }
  #register .input-area .input-item, #login .input-area .input-item {
    padding: 8px 20px; }
  #register .input-area .input-label, #login .input-area .input-label {
    font-size: 18px;
    color: #868686; }
    @media screen and (max-width: 767px) {
      #register .input-area .input-label, #login .input-area .input-label {
        font-size: 14px; } }
  #register .input-area .input-content, #login .input-area .input-content {
    position: relative; }
    #register .input-area .input-content input, #login .input-area .input-content input {
      background: #f3f3f3;
      font-size: 18px;
      width: 100%;
      border: 1px solid white;
      border-radius: 4px;
      margin: 8px 0;
      outline: none;
      padding: 8px 8px 8px 40px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      #register .input-area .input-content input::-webkit-input-placeholder, #login .input-area .input-content input::-webkit-input-placeholder {
        color: #cccccc; }
      #register .input-area .input-content input::-moz-placeholder, #login .input-area .input-content input::-moz-placeholder {
        color: #cccccc; }
      #register .input-area .input-content input:-ms-input-placeholder, #login .input-area .input-content input:-ms-input-placeholder {
        color: #cccccc; }
      #register .input-area .input-content input::-ms-input-placeholder, #login .input-area .input-content input::-ms-input-placeholder {
        color: #cccccc; }
      #register .input-area .input-content input::placeholder, #login .input-area .input-content input::placeholder {
        color: #cccccc; }
      #register .input-area .input-content input:hover, #login .input-area .input-content input:hover {
        background: #e6e6e6; }
      #register .input-area .input-content input:focus, #login .input-area .input-content input:focus {
        border: 1px solid #0099ff;
        background: white; }
    #register .input-area .input-content i, #login .input-area .input-content i {
      position: absolute;
      left: 0;
      top: 10px;
      padding: 9px 8px;
      color: #aaa; }
#register .register-button, #register .login-button, #login .register-button, #login .login-button {
  text-align: center;
  margin: 0 20px; }
  #register .register-button button, #register .login-button button, #login .register-button button, #login .login-button button {
    font-size: 24px;
    background: #55e68c;
    padding: 6px 32px;
    cursor: pointer;
    -webkit-transition: background 0.3s;
    -o-transition: background 0.3s;
    transition: background 0.3s; }
    #register .register-button button:hover, #register .login-button button:hover, #login .register-button button:hover, #login .login-button button:hover {
      background: #00c74c; }
#register .login-link, #register .register-link, #login .login-link, #login .register-link {
  margin: 20px 0 0 20px;
  text-align: right; }
  #register .login-link a, #register .register-link a, #login .login-link a, #login .register-link a {
    color: #1d66aa;
    -webkit-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s; }
    #register .login-link a:hover, #register .register-link a:hover, #login .login-link a:hover, #login .register-link a:hover {
      color: #144572; }

/*
    profile.html
*/
#profile #main-body {
  max-width: 800px;
  margin: 40px auto 20px;
  min-height: 100px;
  padding: 40px 80px;
  background-color: white; }
  @media screen and (max-width: 767px) {
    #profile #main-body {
      width: 80vw;
      max-width: 450px;
      padding: 20px; } }
#profile .label {
  padding: 4px 12px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.295);
  font-size: 22px;
  color: #087a9c;
  font-weight: 600; }
  @media screen and (max-width: 767px) {
    #profile .label {
      font-size: 14px; } }
#profile .profile-area > div {
  margin: 24px 0; }
#profile .profile-area p, #profile .profile-area span {
  color: #7e7e7e;
  font-size: 18px; }
  @media screen and (max-width: 767px) {
    #profile .profile-area p, #profile .profile-area span {
      font-size: 12px; } }
#profile .profile-area p {
  padding: 4px 12px;
  margin-bottom: 0; }
#profile .profile-area .level-bar .level {
  line-height: 1;
  margin-top: 12px; }
#profile .profile-area .level-bar .bar-area {
  margin: 8px 20px;
  position: relative;
  height: 30px; }
#profile .profile-area .level-bar .bar {
  position: absolute;
  width: 100%;
  height: 20px;
  border-radius: 12px;
  background: #e7e7e7; }
#profile .profile-area .level-bar .exp-bar {
  min-width: 20px;
  -webkit-transition: width 1.5s ease-in-out;
  -o-transition: width 1.5s ease-in-out;
  transition: width 1.5s ease-in-out;
  width: 0;
  background: -webkit-gradient(linear, left top, right top, from(#77df33), to(#2fe0ba));
  background: -o-linear-gradient(left, #77df33, #2fe0ba);
  background: linear-gradient(to right, #77df33, #2fe0ba); }
#profile .profile-area .mode-rank div {
  margin: 4px 0; }
#profile .history-area .time-select {
  margin: 20px;
  text-align: right;
  font-size: 18px; }
  #profile .history-area .time-select select {
    font-size: 18px; }
  @media screen and (max-width: 767px) {
    #profile .history-area .time-select {
      font-size: 14px; }
      #profile .history-area .time-select select {
        font-size: 14px; } }
#profile .history-area .history-list .history-card > div {
  padding: 4px;
  margin: 8px 12px;
  border-bottom: solid 1px #dbdbdb; }
#profile .history-area .history-list .history-card > div, #profile .history-area .history-list span {
  font-size: 14px;
  color: #6e6e6e; }
  @media screen and (max-width: 767px) {
    #profile .history-area .history-list .history-card > div, #profile .history-area .history-list span {
      font-size: 10px; } }
#profile .history-area .history-list .history-card {
  padding: 12px 20px;
  margin: 0 12px 20px;
  border-radius: 8px;
  background: -webkit-gradient(linear, left top, right top, from(#e2f7ff), to(#f3e8ff));
  background: -o-linear-gradient(left, #e2f7ff, #f3e8ff);
  background: linear-gradient(to right, #e2f7ff, #f3e8ff);
  -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.281));
          filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.281)); }
  @media screen and (max-width: 767px) {
    #profile .history-area .history-list .history-card {
      padding: 8px;
      margin: 0 4px 12px; } }